<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eridanus - NMC Radar Data</title>
    <link rel="stylesheet" href="./dist/styles/main.css">
</head>
<body>

<!-- progressBar -->
<header class="progbar">
    <div class="progbar-bar loading" style="left: 0;right: 0;"></div>
</header>
<!-- /progressBar -->

<!-- sideBar -->
<nav class="sidebar shandow" id="sidebar">
    <h1><i>e</i><span>Eridanus</span></h1>
    <ul>
        <li><a href="#" class="active">雷达图</a></li>
        <li class="space"></li>
        <li><a href="#">关于</a></li>
    </ul>
</nav>
<!-- /sideBar -->

<!-- mainWrap -->
<section class="mainwrap">
    <!-- mask -->
    <script type="text/plain" id="mask">
        <div class="mask" data-role="mask"></div>
    </script>


    <!-- img block -->
    <div class="mainwrap-imgwrap">
        <div class="mainwrap-title">
            <a href="#" class="mainwrap-menu" id="menuBtn">〓</a>
        </div>

        <ul class="mainwrap-imglist" id="imgList"></ul>

        <div class="mainwrap-imgRefer" id="imgRefer"></div>
    </div>

    <!-- scroll bar -->
    <ul class="mainwrap-layerlist" id="layerList"></ul>

    <script type="text/plain" id="imgItem">
        <li class="mainwrap-imgitem" style="z-index: <%= index %>;" data-index="<%= index %>">
            <img src="<%= img %>" alt="<%= time %>">
        </li>
    </script>

    <script type="text/plain" id="layerItem">
        <li class="mainwrap-layeritem" data-index="<%= index %>">
            <span><%= time %></span>
        </li>
    </script>

    <script type="text/plain" id="referImg">
        <img src="<%= img %>" alt="<%= time %>">
    </script>
</section>
<!-- /mainWrap -->

</body>

<script>
    // You can also require other files to run in this process
    require('./dist/index.js');
    require('./dist/radar.js');
</script>
</html>
