<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eridanus - NMC Radar Data</title>
    <link rel="stylesheet" href="./dist/styles/main.css">
    <link rel="stylesheet" href="./res/css/font-awesome.min.css">
</head>
<body>

<!-- progressBar -->
<header class="progbar" id="progressBar" style="background-color: #fff;">
      <div class="progbar-bar loading" style="left: 0;right: 0;" data-role="bar"></div>
</header>
<!-- /progressBar -->

<!-- sideBar -->
<nav class="sidebar shandow" id="sidebar">
    <h1><i class="icon"></i><span>Eridanus</span></h1>
    <ul>
        <li><a href="#" class="active"><i class="fa" aria-hidden="true"></i> 雷达图</a></li>
        <li class="space"></li>
        <li><a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i> 关于</a></li>
    </ul>
</nav>
<!-- /sideBar -->

<!-- mainWrap -->
<section class="mainwrap">
    <!-- mask -->
    <script type="text/plain" id="mask">
        <div class="mask" data-role="mask"></div>
    </script>


    <!-- img block -->
    <div class="mainwrap-imgwrap">
        <div class="mainwrap-title clearfix">
            <div class="mainwrap-btns pull-left">
                <a href="#" class="mainwrap-menu fa fa-bars" id="menuBtn"></a>
                <span class="mainwrap-menuborder"></span>
                <a href="#" class="mainwrap-menu fa fa-refresh" id="refreshBtn"></a>
                <span class="mainwrap-menuborder"></span>
                <a href="#" class="mainwrap-menu fa fa-arrows active" data-func="mode-btn" data-mode="move"></a>
                <a href="#" class="mainwrap-menu fa fa-pencil" data-func="mode-btn" data-mode="draw"></a>
                <a href="#" class="mainwrap-menu fa fa-trash-o" id="clearBtn"></a>
            </div>

            <div class="mainwrap-time pull-right">
                <span class="time-container">
                    <i class="fa fa-caret-square-o-up" aria-hidden="true"></i>
                    <span id="activeTime"></span>
                </span>

                <i class="time-arrow fa fa-angle-double-right"></i>
                <span class="duration-container">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span id="durationTime"></span>
                </span>
                <i class="time-arrow fa fa-angle-double-right"></i>

                <span class="time-container">
                    <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                    <span id="referTime"></span>
                </span>
            </div>
        </div>

        <ul class="mainwrap-imglist" id="imgList"></ul>

        <div class="mainwrap-imgrefer" id="imgRefer"></div>

        <canvas class="mainwrap-imgcanvas move" id="imgCanvas"></canvas>

        <div class="mainwrap-imgload">
            <div class="loadbg" id="loadBg"></div>
            <div class="loadicon" id="loadIcon">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
            </div>
        </div>
    </div>

    <!-- scroll bar -->
    <ul class="mainwrap-layerlist" id="layerList"></ul>

    <script type="text/plain" id="imgItem">
        <li class="mainwrap-imgitem" style="z-index: <%= index %>;" data-index="<%= index %>"  data-time="<%= time %>">
            <img src="<%= img %>" alt="<%= time %>">
        </li>
    </script>

    <script type="text/plain" id="layerItem">
        <li class="mainwrap-layeritem" data-index="<%= index %>" data-time="<%= time %>">
            <span><%= time %></span>
        </li>
    </script>

    <script type="text/plain" id="referImg">
        <img src="<%= img %>" alt="<%= time %>">
    </script>
</section>
<!-- /mainWrap -->

</body>

<script>
    require('./dist/index.js');
    require('./dist/radar.js');
</script>
</html>
